In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'/Users/hna/Documents/DA/SQL/Covid19/covid19.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530292 entries, 0 to 530291
Data columns (total 61 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   country                                     530292 non-null  object
 1   date                                        530292 non-null  object
 2   total_cases                                 516426 non-null  float64
 3   new_cases                                   513144 non-null  float64
 4   new_cases_smoothed                          511939 non-null  float64
 5   total_cases_per_million                     516426 non-null  float64
 6   new_cases_per_million                       513144 non-null  float64
 7   new_cases_smoothed_per_million              511939 non-null  float64
 8   total_deaths                                516426 non-null  float64
 9   new_deaths                                  514015 non-null  float64
 10  new_deaths_smoothed                         512803 non-null  float64
 11  total_deaths_per_million                    516426 non-null  float64
 12  new_deaths_per_million                      514015 non-null  float64
 13  new_deaths_smoothed_per_million             512803 non-null  float64
 14  excess_mortality                            13673 non-null   float64
 15  excess_mortality_cumulative                 13673 non-null   float64
 16  excess_mortality_cumulative_absolute        13673 non-null   float64
 17  excess_mortality_cumulative_per_million     13639 non-null   float64
 18  hosp_patients                               40656 non-null   float64
 19  hosp_patients_per_million                   40656 non-null   float64
 20  weekly_hosp_admissions                      24497 non-null   float64
 21  weekly_hosp_admissions_per_million          24497 non-null   float64
 22  icu_patients                                39116 non-null   float64
 23  icu_patients_per_million                    39116 non-null   float64
 24  weekly_icu_admissions                       10993 non-null   float64
 25  weekly_icu_admissions_per_million           10993 non-null   float64
 26  stringency_index                            202760 non-null  float64
 27  reproduction_rate                           185683 non-null  float64
 28  total_tests                                 79387 non-null   float64
 29  new_tests                                   75403 non-null   float64
 30  total_tests_per_thousand                    79387 non-null   float64
 31  new_tests_per_thousand                      75403 non-null   float64
 32  new_tests_smoothed                          103965 non-null  float64
 33  new_tests_smoothed_per_thousand             103965 non-null  float64
 34  positive_rate                               101560 non-null  float64
 35  tests_per_case                              100645 non-null  float64
 36  total_vaccinations                          83222 non-null   float64
 37  people_vaccinated                           79011 non-null   float64
 38  people_fully_vaccinated                     77011 non-null   float64
 39  total_boosters                              58784 non-null   float64
 40  new_vaccinations                            68876 non-null   float64
 41  new_vaccinations_smoothed                   202840 non-null  float64
 42  total_vaccinations_per_hundred              83222 non-null   float64
 43  people_vaccinated_per_hundred               79011 non-null   float64
 44  people_fully_vaccinated_per_hundred         77011 non-null   float64
 45  total_boosters_per_hundred                  58784 non-null   float64
 46  new_vaccinations_smoothed_per_million       202840 non-null  float64
 47  new_people_vaccinated_smoothed              202840 non-null  float64
 48  new_people_vaccinated_smoothed_per_hundred  202840 non-null  float64
 49  code                                        507044 non-null  object
 50  continent                                   490452 non-null  object
 51  population                                  513194 non-null  float64
 52  population_density                          504891 non-null  float64
 53  median_age                                  506972 non-null  float64
 54  life_expectancy                             509046 non-null  float64
 55  gdp_per_capita                              414150 non-null  float64
 56  extreme_poverty                             339897 non-null  float64
 57  diabetes_prevalence                         447391 non-null  float64
 58  handwashing_facilities                      240182 non-null  float64
 59  hospital_beds_per_thousand                  320757 non-null  float64
 60  human_development_index                     0 non-null       float64
dtypes: float64(57), object(4)
memory usage: 246.8+ MB

In [8]:
df.head()

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN

In [6]:
df.isnull().sum()

country                            0
date                               0
total_cases                    13866
new_cases                      17148
new_cases_smoothed             18353
                               ...
extreme_poverty               190395
diabetes_prevalence            82901
handwashing_facilities        290110
hospital_beds_per_thousand    209535
human_development_index       530292
Length: 61, dtype: int64

In [9]:
df_export = df[['code', 'continent', 'country', 'date', 'population', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 
'new_deaths', 'new_deaths_smoothed', 'total_vaccinations', 'people_vaccinated']]
df_export

,code,continent,country,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_vaccinations,people_vaccinated
0,AFG,Asia,Afghanistan,2020-01-01,40578847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-02,40578847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-03,40578847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-04,40578847.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-05,40578847.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
530287,ZWE,Africa,Zimbabwe,2025-09-03,16069061.0,266434.0,0.0,0.0,5740.0,0.0,0.0,NaN,NaN
530288,ZWE,Africa,Zimbabwe,2025-09-04,16069061.0,266434.0,0.0,0.0,5740.0,0.0,0.0,NaN,NaN
530289,ZWE,Africa,Zimbabwe,2025-09-05,16069061.0,266434.0,0.0,0.0,5740.0,0.0,0.0,NaN,NaN
530290,ZWE,Africa,Zimbabwe,2025-09-06,16069061.0,266434.0,0.0,0.0,5740.0,0.0,0.0,NaN,NaN
530291,ZWE,Africa,Zimbabwe,2025-09-07,16069061.0,266434.0,0.0,0.0,5740.0,0.0,0.0,NaN,NaN

In [10]:
df_export.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530292 entries, 0 to 530291
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   code                 507044 non-null  object
 1   continent            490452 non-null  object
 2   country              530292 non-null  object
 3   date                 530292 non-null  object
 4   population           513194 non-null  float64
 5   total_cases          516426 non-null  float64
 6   new_cases            513144 non-null  float64
 7   new_cases_smoothed   511939 non-null  float64
 8   total_deaths         516426 non-null  float64
 9   new_deaths           514015 non-null  float64
 10  new_deaths_smoothed  512803 non-null  float64
 11  total_vaccinations   83222 non-null   float64
 12  people_vaccinated    79011 non-null   float64
dtypes: float64(9), object(4)
memory usage: 52.6+ MB

In [13]:
df_export.to_csv(r'/Users/hna/Documents/DA/SQL/Covid19/covid19_export.csv', index=False)